html{
    background: white;
}

body{
    margin: 0;
    padding: 0;
}

header{
    height: fit-content;
}

.main-nav{
    background-color: white;
    width: 100%;
    min-height: 80px;
    height: 10vh;
}

ul{
    height: 100%;
    float: right;
    margin: 0;
    padding: 0;
    display: table;
    list-style: none;
}

li{
    display: table-cell;
    vertical-align: middle;
}

li a{
    margin-right: 30px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: color 300ms ease-in-out;
}

main{
    width: 100%;
    height: 100vh;
}

li a:hover{
    color: rgb(75, 174, 243);
}

.active{
    background: rgb(75, 174, 243);
    width: calc(100% - 30px);
    height: 2px;
}

#navFiller{
    width: 70px;
}

.line{
    opacity: 0;
    width: calc(100% - 30px);
    height: 2px;
    background: rgb(75, 174, 243);
    transition: opacity 300ms ease-in-out;
}

li a:hover + .line{
    opacity: 1;
}

#logo{
    width: 100px;
    height: 68px;
    margin: auto;
}

.logo_container {
    float: left;
    height: 100%;
    display: flex;
    margin-left: 3vw;
}

.headerImg{
    height: 60vh;
    min-height: fit-content;
    background: cyan;
    background-image: url("../img/new_york_city.jpg");
    background-image: url("../img/singapore_city.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.headerImg h1, h2{
    color: white;
    text-align: center;
}

h1{
    font-size: 5em;
    padding-top: 20vh;
}

h2{
    font-size: 3em;
}

#ny{
    background-image: url("../img/new_york_city.jpg");
}

.recentioner-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;


}

.recentioner-container section{
    display: block;
    margin: 20px auto;
}

.recentioner-container section h3{
    text-align: center;
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}

@media (max-width: 1280px) {
    .recentioner-container{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 931px) {
    .recentioner-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 680px) {
    .recentioner-container{
        grid-template-columns: repeat(1, 1fr);
    }
}