body { 
    padding-bottom: 70px; 
}

body{
    min-height: 100vh;
    background: rgb(9,54,121);
    background: linear-gradient(180deg, rgba(9,54,121,1) 0%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}